<%= bash %>
echo "Please browse this url when server is running: http://<%= cloudTenant %>.localhost.<%= domain %>:8081/dashboard/"
polymer serve --port 8081  --proxy-path /dashboard/ --proxy-target http://localhost:8081/