{
	"name": "<%= widgetName %>",
	"authors": [
		"<%= developer_name %> <%= developer_email %>"
	],
	"description": "Describe your widget",
	"main": "<%= widgetName %>.html",
	"license": "MIT",
	"homepage": "<%= developer_homepage %>",
	"private": true,
	"ignore": [
		"**/.*",
		"node_modules",
		"bower_components",
		"test",
		"tests"
	],
	"dependencies": {
		"polymer": "Polymer/polymer",
		"abas-dashboard-state": "https://bitbucket.org/abascloud/abas-dashboard-state.git",
		"aba-js-imports": "https://bitbucket.org/abascloud/aba-js-imports.git",
		"abas-widget-behavior": "https://bitbucket.org/abascloud/abas-widget-behavior.git",
		"aba-widget": "https://bitbucket.org/abascloud/aba-widget.git",
		"abas-styles": "https://bitbucket.org/abascloud/abas-styles.git",
		"abas-config": "https://bitbucket.org/abascloud/abas-config.git",
		"abas-widget-style": "https://bitbucket.org/abascloud/abas-widget-style.git",
		"abas-widget-framework": "https://bitbucket.org/abascloud/abas-widget-framework.git"
	}
}
