[{
    "name": "<%= widgetName %>",
    "version": "0.0.1",
    "description": "Describe <%= widgetName %> here",
    "preview": "bower_components/<%= widgetName %>/assets/preview.png",
    "author": "<%= developer_name %> <<%= developer_email %>>",
    "label": "<%= widgetName %>: Label for the Widget Shop",
    "path": "bower_components/<%= widgetName %>/<%= widgetName %>.html",
    "attr": {},
    "title": "<%= widgetName %>",
    "shape": {
        "l": {
            "width": 12,
            "height": 8
        },
        "m": {
            "width": 12,
            "height": 8
        },
        "s": {
            "width": 12,
            "height": 8
        }
    }
}]