<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<dom-module id="<%= widgetName %>-settings">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style>
            :host {
                display: block;
                background: var(--abas-black-800);
            }
        </style>
        <div slot="general">
            <abas-auto-complete label="[[localize('settings.company')]]" items=[[_companies]] value$=[[company.title]]
                on-item-selected="_companySelected" select-first></abas-auto-complete>
        </div>
    </template>
    <script>
        class <%= widget_class %>Settings extends 
            
            
            abasWidgets.CompanySettingsBehavior(Polymer.AbasLocalizeMixin(Polymer.Element)) {

            constructor() {
                super();
            }
            static get is() { return '<%= widgetName %>-settings' }
            static get properties() {
                return {}
            }
            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }
            _companySelected(event) {
                this.set('company', event.detail[0])
            }
        }
        customElements.define(<%= widget_class %>Settings.is, <%= widget_class %>Settings);
    </script>
</dom-module>