<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">
<link rel="import" href="../abas-dashboard-state/abas-dashboard-state.html">
<link rel="import" href="<%= widgetName %>-settings.html">
<dom-module id="<%= widgetName %>">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-widget-style">
            :host {
                display: block;
                background: var(--abas-black-800);
            }
        </style>
        <aba-widget>
            <div slot="content">
                <!-- Widget content goes here! -->
                <abas-inplace-header><%= widgetName %></abas-inplace-header>
                <% if (withMiddlewareExample) { %>
                    <abas-data-grid id=customerGrid></abas-data-grid>
                <% } %>
            </div>
            <div slot="settingsForm">
                <template is="dom-if" if="[[editMode]]">
                    <<%= widgetName %>-settings company={{company}}></<%= widgetName %>-settings>
                </template>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>
    <script>
        class <%= widget_class %> extends

            
            abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element)) {

            constructor() {
                super();
                this._boundfireUpdateAttribute = this._fireUpdateAttribute.bind(this);
            }
            static get is() { return '<%= widgetName %>' }
            static get properties() {
                return {
                    <% if (withMiddlewareExample) { %><%- include(`widget/mwexample/property`, {}) %><% } %>
                };
            }
            <% if (withMiddlewareExample) { %>
            <%- include(`widget/mwexample/observer`, {}) %>
            <% } %>

            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();
                this.addEventListener('settings-closed', this._boundfireUpdateAttribute);
                //load translation
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }
            disconnectedCallback() {
                super.disconnectedCallback();
                this.removeEventListener('settings-closed', this._boundfireUpdateAttribute);
            }
            <% if (withMiddlewareExample) { %>
            <%- include(`widget/mwexample/function`, {}) %>
            <% } %>
            _fireUpdateAttribute() {
                this.fireAttributesUpdate([{
                    name: 'company',
                    value: this.company
                }]);
            }
        }
        customElements.define(<%= widget_class %>.is, <%= widget_class %>);
    </script>
</dom-module>