<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/polymer/polymer-element.html">

<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-icons/editor-icons.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">

<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-input/paper-textarea.html">
<link rel="import" href="bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="bower_components/paper-toast/paper-toast.html">
<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/paper-fab/paper-fab.html">
<link rel="import" href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="bower_components/neon-animation/web-animations.html">
<link rel="import" href="bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="bower_components/sortable-list/sortable-list.html">
<link rel="import" href="bower_components/abas-app-layout/abas-app-layout.html">
<link rel="import" href="bower_components/abas-config/abas-config-meta.html">
<link rel="import" href="bower_components/abas-styles/abas-styles.html">
<link rel="import" href="bower_components/aba-add-widget/aba-add-widget.html">
<link rel="import" href="bower_components/aba-dashboard/aba-dashboard.html">
<link rel="import" href="bower_components/aba-widgetlibrary/aba-widgetlibrary.html">
<link rel="import" href="bower_components/abas-localize-mixin/abas-localize-mixin.html">
<link rel="import" href="bower_components/paper-subheader/paper-subheader.html">
<link rel="import" href="bower_components/granite-clipboard/granite-clipboard.html">
<link rel="import" href="bower_components/d2l-file-uploader/d2l-file-uploader.html">
<link rel="import" href="bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="bower_components/abas-dashboard-state/abas-dashboard-state.html">

<!-- Core widget for polymer build to include -->

<!-- <link rel="import" href="../../bower_components/aba-add-widget/aba-add-widget.html"> -->

<link rel="import" href="shared-styles.html">
<link rel="import" href="parts/dashboards-management.html">
<link rel="import" href="parts/download-json.html">

<dom-module id="abas-dashboard-webui-app">
    <template>
        <style include="shared-styles">
            sortable-list {
                width: 100%;
            }

            #appContent {
                height: calc(100vh - 48px);
                width: 100%;
                overflow: hidden;
            }

            .dark {
                background-color: var(--abas-abasgreen-300)
            }

            paper-search-bar {
                --background-color: var(--dark-theme-background-color)
            }

            aba-dashboard {
                background: unset;
                background-image: url(assets/dust_scratches.png);
                display: inline-block;
            }

            paper-item:hover {
                background: lightgrey;
            }

            paper-icon-item,
            paper-item {
                --paper-item-selected: {
                    background-color: var(--abas-abasgreen-500);
                }

                ;

                --paper-item-focused-before: {
                    background-color: var(--abas-black-800);
                    /*white*/
                }
            }

            paper-toast.error {
                --paper-toast-background-color: var(--abas-red-500);
                --paper-toast-color: white;
            }

            div.separator {
                border-bottom: solid var(--dark-theme-background-color) 0.5px;
                align-self: center;
                width: 100%;
                height: 0.5px;
            }

            paper-icon-item>iron-icon {
                margin-right: 32px;
            }

            paper-item.separator {
                min-height: 2px;
                padding: 0px;
            }

            @media all and (max-width: 600px) {
                .no-small {
                    display: none;
                }

                paper-menu-button {
                    padding: 0px;
                }
            }

            :host {

                display: block;
                background-color: #525b60;
                font-family: 'Roboto', 'Noto', sans-serif;
                line-height: 1.5;
                min-height: 100vh;

                --dashboard-section: {
                    background-color: var(--light-theme-background-color);
                    border-radius: 5px;
                    margin-bottom: 10px;
                    padding: 8px;
                }

                --dashboard-fab: {
                    --paper-fab-background: var(--primary-badge-color);
                }
            }

            [hidden] {
                display: none;
            }

            paper-dropdown-menu {
                --paper-input-container-color: white;
                --paper-input-container-input-color: white;
            }

            #DashboardFileUpload paper-icon-button {
                padding: 0;
                position: absolute;
                border-radius: 50%;
                background-color: white;
                top: -45px;
                right: -20px;
                border: 1px solid black;
            }

            abas-app-layout paper-input {
                --paper-input-container-input-color: white;

                --paper-input-container-input: {
                    font-size: 20px;
                }

                left: 210px;
                position: absolute;
                top: -22px;
                margin: 0 auto;
            }

            abas-app-layout paper-dropdown-menu {
                width: 200px;
            }

            .toolbarFab {
                background-color: #cd2735;
            }

            #addWidgetsButton {
                position: fixed;
                right: 2%;
                top: 91vh;
            }

            .bigDialog {
                width: 95vw;
                height: 90vh;
            }

            #dashboardPaste paper-textarea {
                height: calc(100% - 200px);

                --paper-input-container: {
                    height: 100%;
                }

                overflow: auto;
                min-width: 600px;
                max-height: 50vh;
            }

            paper-button.cancel {
                color: var(--accent-secondary-text-color);
            }

            paper-button.confirm {
                background: var(--accent-color);
                color: var(--accent-primary-text-color);
            }

            .refresh {
                font-size: 12px;
                width: 200px;
                position: relative;
                height: 100%;
                float: right;
                margin-right: 10px;
                margin-left: 10px;
                align-self: center;
            }

            .refresh .left {
                position: absolute;
                left: 0;
            }

            .refresh .right {
                position: absolute;
                right: 0;
            }

            .refresh paper-input {
                position: absolute;
                left: 20%;
                right: 0;
                bottom: 0;
                top: -39px;
                margin: auto;
                width: 11%;
                --paper-input-container-input-color: white;
                --paper-input-container-input_-_font-size: 12px;
            }
        </style>
        <abas-config-meta data="{{configuration}}"></abas-config-meta>
        <aba-widgetlibrary url="library/default.json"></aba-widgetlibrary>
        <!-- playground-widgetlibrary-extension-point -->

        <!-- Upload Dashboard from disk -->
        <paper-dialog id="DashboardFileUpload" modal with-backdrop="true">
            <h2>[[localize("import_from_harddrive")]]</h2>
            <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            <d2l-file-uploader on-d2l-file-uploader-files-added="_dashboardFileUploaded"></d2l-file-uploader>
        </paper-dialog>
        <!-- Upload Dashboard from clipboard -->
        <paper-dialog id="dashboardPaste" modal with-backdrop="true">
            <h2>[[localize("import_from_clipboard")]]</h2>
            <paper-textarea id="pastedDashboard" label="Paste dashboard here (Ctrl + V)" always-float-label rows="33"
                autofocus></paper-textarea>
            <div class="buttons">
                <paper-button dialog-dismiss class="cancel">[[localize("cancel")]]</paper-button>
                <paper-button dialog-confirm raised class="confirm" id="importFromClipTrigger">[[localize("import")]]</paper-button>
            </div>
        </paper-dialog>
        <!-- Confirm delete -->
        <paper-dialog id="deleteBoardFinallyDialog" modal with-backdrop="true">
            <h2>[[localize("delete_confim")]]</h2>
            <div class="buttons">
                <paper-button dialog-dismiss class="cancel">[[localize("cancel")]]</paper-button>
                <paper-button dialog-confirm raised class="confirm" id="deleteBoardFinally">[[localize("delete")]]</paper-button>
            </div>
        </paper-dialog>
        <!-- download dashboard as json -->
        <download-json json="[[_downloadableJson]]"></download-json>
        <paper-dialog id="createFirstDashboardDialog" modal with-backdrop="true">
            <h2>[[localize("CreateFirstDashboard_title")]]</h2>
            <p>[[localize("CreateFirstDashboard_text")]]</p>
            <div class="buttons">
                <paper-button dialog-confirm raised class="confirm" id="buttonImportFirstDashboard">[[localize("CreateFirstDashboard_buttonImport")]]</paper-button>
                <paper-button dialog-confirm raised class="confirm" id="buttonCreateFirstDashboard">[[localize("CreateFirstDashboard_buttonCreate")]]</paper-button>
            </div>
        </paper-dialog>
        <!-- Application Settings -->
        <paper-dialog id="dashboardSettings" with-backdrop>
            <h2>[[localize("dashboardSettings_title")]]</h2>
            <!-- <vaadin-combo-box items="[[themes]]" selected-item="{{theme}}"></vaadin-combo-box> -->
            <div class="buttons">
                <paper-button dialog-confirm raised class="confirm" on-tap="_themeChanged">[[localize("dashboardSettings_ok")]]</paper-button>
            </div>
        </paper-dialog>

        <abas-app-layout id="appLayout" persistent-drawer="[[_forceNarrow]]" app-logo="assets/logo-noerp.svg"
            user-profile='[[profile]]'>

            <div slot="app-title" hidden="[[editMode]]">
                <div id="dashboardTitle" hidden="[[editMode]]">[[dashboardTitle]]</div>
                <paper-tooltip for="dashboardTitle">[[localize("name_current_dashboard")]]</paper-tooltip>
            </div>

            <paper-input slot="toolbar-content" id="dashboardTitleEdit" hidden="[[!editMode]]" value="{{dashboardTitle}}"></paper-input>
            <paper-tooltip for="dashboardTitleEdit">[[localize("name_current_dashboard")]]</paper-tooltip>

            <paper-dropdown-menu id="previewButton" hidden="[[!editMode]]" slot="toolbar-content" no-label-float="true"
                id="preview" on-value-changed="_previewValueChanged">
                <paper-listbox slot="dropdown-content" selected="0">
                    <paper-item>[[localize("desktop")]]</paper-item>
                    <paper-item>[[localize("desktop_small")]]</paper-item>
                    <paper-item>[[localize("tablet_landscape")]]</paper-item>
                    <paper-item>[[localize("tablet_portrait")]]</paper-item>
                    <paper-item>[[localize("smartphone_portrait")]]</paper-item>
                    <paper-item>[[localize("smartphone_landscape")]]</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>
            <paper-tooltip for="previewButton">[[localize("preview_other_device")]]</paper-tooltip>
            <div class="refresh" hidden="[[!editMode]]" slot="toolbar-content">
                <div class="left">Refresh every</div>
                <paper-input value="{{polling}}"></paper-input>
                <div class="right">Seconds</div>
            </div>

            <paper-fab id="editButton" slot="fab-button" class="toolbarFab" hidden="{{editMode}}" icon="editor:mode-edit"></paper-fab>
            <paper-tooltip for="editButton">[[localize("edit")]]</paper-tooltip>

            <paper-menu-button slot="addtional-action-button" hidden="{{editMode}}" id="viewOptionsMenu"
                horizontal-align="right">
                <paper-icon-button icon="more-vert" slot="dropdown-trigger" id="viewOptionsMenuTrigger"></paper-icon-button>
                <paper-listbox slot="dropdown-content">
                    <granite-clipboard text="[[_clipboardableJson]]" verbose="true">
                        <paper-icon-item>
                            <iron-icon icon="content-copy" slot="item-icon"></iron-icon>
                            [[localize("copy_to_clipboard")]]
                        </paper-icon-item>
                    </granite-clipboard>
                    <paper-icon-item id="download">
                        <iron-icon icon="file-download" slot="item-icon"></iron-icon>
                        [[localize("download_to_harddrive")]]
                    </paper-icon-item>
                    <paper-icon-item id="uploadTrigger">
                        <iron-icon icon="file-upload" slot="item-icon"></iron-icon>
                        [[localize("import_from_harddrive")]]
                    </paper-icon-item>
                    <paper-icon-item id="createDashboard">
                        <iron-icon icon="add" slot="item-icon"></iron-icon>
                        [[localize("create")]]
                    </paper-icon-item>
                </paper-listbox>
            </paper-menu-button>
            <paper-tooltip for="viewOptionsMenu">[[localize("options")]]</paper-tooltip>

            <paper-fab id="saveButton" class="toolbarFab" slot="fab-button" hidden="{{!editMode}}" icon="save"></paper-fab>
            <paper-tooltip for="saveButton">Save</paper-tooltip>

            <paper-menu-button slot="addtional-action-button" hidden="{{!editMode}}" horizontal-align="right">
                <paper-icon-button icon="more-vert" slot="dropdown-trigger"></paper-icon-button>
                <paper-listbox slot="dropdown-content">
                    <paper-icon-item id="deleteDashboard">
                        <iron-icon icon="delete" slot="item-icon"></iron-icon>
                        [[localize("delete")]]
                    </paper-icon-item>
                </paper-listbox>
            </paper-menu-button>

            <div slot="abas-drawer-primary">
                <abas-drawer-list heading="[[localize('dashboard-managemanet')]]">
                    <sortable-list id="sortableList" on-sort-finish="_onDashboardSortFinish" sortable=".sortable">
                        <template is="dom-repeat" items="[[boardSelectionModel]]">
                            <paper-item id="[[item.id]]" class="bs-menuItem" on-tap="_onTapLoadToView">
                                [[item.title]]
                            </paper-item>
                        </template>
                    </sortable-list>
                </abas-drawer-list>
            </div>
            <div slot="abas-drawer-secondary">
                <paper-item>
                    <paper-toggle-button id="alwaysShow" on-change="_forceNarrowChanged" checked="{{_forceNarrow}}">[[localize('alwaysShow')]]</paper-toggle-button>
                </paper-item>
                <abas-drawer-list heading="[[localize('languages')]]">
                    <paper-icon-item class="iron-selected" language="en_US" on-tap="_changeLanguage">
                        <iron-icon src="assets/flags/4x3/us.svg" slot="item-icon"></iron-icon>
                        [[localize("english")]]
                    </paper-icon-item>
                    <paper-icon-item language="de_DE" on-tap="_changeLanguage">
                        <iron-icon src="assets/flags/4x3/de.svg" slot="item-icon"></iron-icon>
                        [[localize("german")]]
                    </paper-icon-item>
                </abas-drawer-list>
            </div>

            <div id="appContent" slot="screen-content">
                <!-- Dashboard -->
                <dashboards-management id="manageDashboards" edit-mode="[[editMode]]"></dashboards-management>
                <aba-dashboard theme="[[theme.value]]" edit-mode="{{editMode}}" title="{{dashboardTitle}}" row-count="5"
                    polling="[[polling]]"></aba-dashboard>
            </div>

        </abas-app-layout>

        <!-- Dialogs -->
        <!-- Add Widgets -->
        <aba-add-widget id="widgetLibDialog"></aba-add-widget>
        <paper-fab id="addWidgetsButton" hidden="{{!editMode}}" icon="add"></paper-fab>
        <paper-tooltip for="addWidgetsButton" position="top">[[localize("add_widget")]]</paper-tooltip>

        <!-- Toasts -->
        <paper-toast class="error" id="errortoast" text="[[errorMessage]]"></paper-toast>
        <paper-toast id="messagetoast" text="[[normalMessage]]"></paper-toast>
        <paper-toast id="dashboardSaved" text="Dashboard saved"></paper-toast>
        <paper-toast id="dashboardSavedError" text="Error while saving Dashboard!"></paper-toast>
        <paper-toast id="dashboardEditCanceld" text="Dashboard edit canceled"></paper-toast>
        <paper-toast id="dashboardDeleted" text="Dashboard deleted"></paper-toast>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class AbasDashboardWebuiApp extends Polymer.AbasLocalizeMixin(Polymer.Element) {
            constructor() {
                super();
                //Create Private Properties 
                this._clipboardableJson = "";
                this._downloadableJson = "";
            }
            static get is() {
                return 'abas-dashboard-webui-app';
            }

            static get properties() {
                return {
                    configuration: {
                        type: Object
                    },
                    authentication: {
                        type: Object
                    },
                    profile: {
                        type: Object
                    },
                    themes: {
                        type: Array
                    },
                    theme: {
                        type: Object
                    },
                    decodedToken: {
                        type: Object
                    },
                    language: {
                        value: 'en_US'
                    },
                    fallbackLanguage: {
                        value: 'en_US'
                    },
                    userMenu: {
                        type: Boolean,
                        value: false
                    },
                    polling: {
                        type: Number,
                        value: 10
                    },
                    boardSelectionModel: {
                        type: Array,
                        value: []
                    },
                    _forceNarrow: {
                        type: Boolean,
                        value: false,
                        // observer: '_forceNarrowChanged'
                    },
                    editMode: {
                        type: Boolean,
                        value: false
                    }
                };
            }

            get abaDashboard() {
                if (!this._abaDashboard) {
                    this._abaDashboard = this.shadowRoot.querySelector('aba-dashboard');
                }
                return this._abaDashboard;
            }

            get dashboardsManager() {
                return this.$.manageDashboards
            }

            ready() {
                super.ready();

                let theme = localStorage.getItem("_theme");
                if (!!theme) {
                    this.set('theme', JSON.parse(theme));
                }

                let _forceNarrow = JSON.parse(localStorage.getItem("_forceNarrow"));
                this.set('_forceNarrow', _forceNarrow);
                if (_forceNarrow) {
                    this.$.alwaysShow.setAttribute('checked', _forceNarrow)
                } else {
                    this.$.alwaysShow.removeAttribute('checked')
                }

                this.addEventListener('error-message', e => {
                    this.errorMessage = e.detail.message;
                    this.$.errortoast.open();
                });

                this.addEventListener('normal-message', e => {
                    this.normalMessage = e.detail.message;
                    this.$.messagetoast.open();
                });

                this.addEventListener('dashboard-save', e => {
                    this._saveDashboard();
                    this.buildBoardSelectionModel();
                });

                this.addEventListener('app-logout', e => {
                    this.authentication.logout();
                });

                this.addEventListener('app-settings', e => {
                    this.$.dashboardSettings.open();
                });

                this.firstView()
            }

            _showError(error) {
                this.errorMessage = error;
                this.$.errortoast.open();
            }
            _showMessage(msg) {
                this.normalMessage = msg;
                this.$.messagetoast.open();
            }

            _themeChanged() {
                localStorage.setItem('_theme', JSON.stringify(this.theme));
            }

            _forceNarrowChanged() {
                localStorage.setItem('_forceNarrow', this._forceNarrow);
                window.dispatchEvent(new Event('resize'));
            }

            firstView() {
                let board = this._getInitialBoard();
                this.set('editMode', false);
                this.buildBoardSelectionModel();
                this.showBoard(board)
            }

            showBoard(board) {
                if (board) {
                    this.loadBoardIntoView(board);
                    this.setBoardIdToURL(board.id);
                } else {
                    // if (typeof this.abaDashboard.unload === 'function') {
                    //     this.abaDashboard.unload();
                    // };
                    this.removeBoardIdFromURL();
                    this.$.createFirstDashboardDialog.open();
                }
            }

            _onLocalizationInitCombos() {
                if (typeof this.localize == 'function') {
                    this.themes = [
                        { label: this.localize('theme.flat'), value: "flat" },
                        { label: this.localize('theme.card'), value: "card" }
                    ];

                    // default value: theme
                    if (!this.theme) {
                        this.theme = this.themes[0];
                    } else {
                        let theme = this.theme;
                        if (typeof this.theme != 'object') {
                            theme = JSON.parse(this.theme);
                        }
                        this.theme = this.themes.length > 0 ? this.themes.filter(o => {
                            return o.value == theme.value
                        })[0] : this.themes[0];
                    }
                }
            }

            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback();

                new AbasDashboardState({
                    configuration: this.configuration,
                    urlSearchString: document.location.search
                }).setupState()

                this.addEventListener('app-localize-resources-loaded', this._onLocalizationInitCombos.bind(this));

                //load translation
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));

                //Edit
                this.$.editButton.addEventListener('tap', event => {
                    this.abaDashboard.goToEditMode();
                    this.set('editMode', true);
                });
                //Save
                this.$.saveButton.addEventListener('tap', event => {
                    this._saveDashboard();
                    this.buildBoardSelectionModel();
                    this.abaDashboard.goToViewMode();
                    this.set('editMode', false);
                });
                //Delete 
                this.$.deleteBoardFinally.addEventListener('tap', () => {
                    let currentID = this.abaDashboard.id;
                    this.$.manageDashboards.deleteDashboard(currentID);
                    this.firstView();

                });
                this.$.deleteDashboard.addEventListener('tap', event => {
                    this.$.deleteBoardFinallyDialog.open();
                });
                //Options Menu opened
                this.$.viewOptionsMenuTrigger.addEventListener('tap', event => {
                    let dashboard = this.abaDashboard.export();
                    dashboard.id = this.abaDashboard.generateUuid();
                    this._clipboardableJson = JSON.stringify(dashboard);


                });
                this.$.download.addEventListener('tap', event => {
                    let dashboard = this.abaDashboard.export();
                    dashboard.id = this.abaDashboard.generateUuid();
                    this._downloadableJson = dashboard;
                });
                //Open add widget Dialog
                this.$.addWidgetsButton.addEventListener('tap', event => this.$.widgetLibDialog.open());
                //Create Dashboard
                this.$.createDashboard.addEventListener('tap', () => { this._createDashboard() });
                this.$.buttonCreateFirstDashboard.addEventListener('tap', () => { this._createDashboard() });
                this.$.buttonImportFirstDashboard.addEventListener('tap', () => { this.$.dashboardPaste.open() });

                //Upload from Harddisk
                this.$.uploadTrigger.addEventListener('tap', event => this.$.DashboardFileUpload.open());
                //Upload from Clipboard - open Dialog
                // this.$.pasteTrigger.addEventListener('tap', event => this.$.dashboardPaste.open());
                //Upload from Clipboard
                this.$.importFromClipTrigger.addEventListener('tap', (event) => {
                    var boardDescription = this.$.pastedDashboard.value;

                    this.dashboardsManager.importDashboard(boardDescription)
                        .then((boardId) => {
                            var newBoard = this.$.manageDashboards.getDashboard(boardId);
                            this.showBoard(newBoard);
                            this.set('editMode', true);
                            this.buildBoardSelectionModel();
                            this._showMessage('Import successfull. The board must be saved to finish the process');
                        })
                        .catch((error) => {
                            this._showError(error)
                        });


                });
            }

            _changeLanguage(event) {
                this.shadowRoot.querySelector('[language="' + this.language + '"]').classList.remove(
                    'iron-selected');
                this.shadowRoot.querySelector('[language="' + event.target.getAttribute('language') + '"]').classList
                    .add('iron-selected');
                this.set('language', event.target.getAttribute('language'));
                window.dispatchEvent(new CustomEvent('app-localize-language-changed', {
                    detail: { language: this.language }
                }));
            }

            _previewValueChanged(event) {
                switch (event.detail.value) {
                    case "Desktop":
                        this.abaDashboard.width = this.width;
                        this.abaDashboard.height = -1;
                        break;
                    case "Desktop small":
                        this.abaDashboard.width = 1600;
                        this.abaDashboard.height = -1;
                        break;
                    case "Tablet Landscape":
                        this.abaDashboard.width = 1024;
                        this.abaDashboard.height = 768;
                        break;
                    case "Tablet Portrait":
                        this.abaDashboard.width = 768;
                        this.abaDashboard.height = 1024;
                        break;
                    case "Smartphone Portrait":
                        this.abaDashboard.width = 360;
                        this.abaDashboard.height = 640;
                        break;
                    case "Smartphone Landscape":
                        this.abaDashboard.width = 640;
                        this.abaDashboard.height = 360;
                        break;
                }
            }

            _createDashboard() {
                let id = this.$.manageDashboards.createDashboard();
                this.buildBoardSelectionModel();
                let board = this.$.manageDashboards.getDashboard(id)
                this.loadBoardIntoView(board);
                this.setBoardIdToURL(board.id);
                this.set('editMode', true);
            }

            _saveDashboard() {
                var boardDescription = this.abaDashboard.export();
                this.$.manageDashboards.modifyDashboardSettings(this.abaDashboard.id, { title: this.dashboardTitle });
                this.$.manageDashboards.updateDashboard(boardDescription);

                this.dispatchEvent(new CustomEvent('dashboards-save-em-all', { bubbles: true, composed: true }));

            }

            _getInitialBoard() {
                let usp = new URLSearchParams(document.location.search);
                return this.$.manageDashboards.getDashboard(usp.get('id')) || this.$.manageDashboards.getFirstBoard();
            }

            removeBoardIdFromURL(id) {
                // TODO:  This forces auth0 into infinite redirect loop
                // let url = new URLSearchParams(document.location.search);
                // if (url.has('id')) {
                //     url.delete('id');
                // }
                // history.replaceState({}, "abas development dashboard", document.location.pathname + "?" + url.toString());
            }

            setBoardIdToURL(id) {
                var fullurl = new URL(document.location);
                fullurl.searchParams.set('id', id);
                history.pushState({
                    id: id
                }, "abas development dashboard", fullurl.toString());
            }

            loadBoardIntoView(board) {
                //** Work around glitches
                this.$.manageDashboards.reInitilizeModel();
                let _board = this.$.manageDashboards.getDashboard(board.id);
                // - w a 
                this.abaDashboard.import(_board)
            }

            buildBoardSelectionModel() {
                let boards = this.$.manageDashboards.getDashboards();
                let model = boards.map((board) => {
                    return {
                        id: board.id,
                        title: board.title
                    }
                });
                this.splice('boardSelectionModel', 0, this.boardSelectionModel.length, ...model);
            }

            _onTapLoadToView(event) {
                let id = event.model.item.id
                if (!id) {
                    return;
                }
                let board = this.$.manageDashboards.getDashboard(id);
                if (board) {
                    this.loadBoardIntoView(board)
                    this.setBoardIdToURL(board.id);
                }
            }

            _dashboardFileUploaded(event) {
                var fr = new FileReader();
                fr.onload = evt => {
                    this.$.manageDashboards.importDashboard(fr.result)
                        .then(dashboardID => {
                            this._saveDashboard();
                            this.$.DashboardFileUpload.close();
                            this.normalMessage = "Import successfull!"
                            this.$.messagetoast.open();
                            let board = this.$.manageDashboards.getDashboard(dashboardID);
                            this.set('editMode', false);
                            this.buildBoardSelectionModel();
                            this.showBoard(board);

                        })
                        .catch(error => {
                            this.errorMessage = error;
                            this.$.errortoast.open();
                        });
                }
                fr.readAsText(event.detail.files[0]);
            }
        }
        window.customElements.define(AbasDashboardWebuiApp.is, AbasDashboardWebuiApp);
    </script>
</dom-module>