<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/abas-localize-mixin/abas-localize-mixin.html">
<dom-module id="download-json">
    <script>
        class DownloadJson extends Polymer.AbasLocalizeMixin(Polymer.Element) {

            static get is() { return 'download-json'; }
    
            static get style() {
                return `
                    a {
                        display: none;
                    }`;
            }
    
            static get template() {
                return `<style>${this.style}</style>
                    <a id="downloader" href="data:text/json;charset=utf-8,[[_jsonAsString]]" download="[[filename]].json"></a>
                    <paper-dialog>
                        <h2>[[localize("what-name")]]</h2>
                        <paper-dialog-scrollable>
                            <paper-input value="{{filename}}"></paper-input>
                        </paper-dialog-scrollable>
                        <div class="buttons">
                            <paper-button dialog-dismiss>[[localize("cancel")]]</paper-button>
                            <paper-button dialog-confirm autofocus on-tap="_download">[[localize("download")]]</paper-button>
                        </div>
                    </paper-dialog>`;
            }
    
            static get properties() {
                return {
                    json: {
                        type: Object,
                        observer: '_jsonChanged'
                    },
                    filename: {
                        type: String
                    },
                    noDialog: {
                        type: Boolean,
                        value: false
                    },
                    _jsonAsString: {
                        type: String
                    }
                };
            }

            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }
    
            _jsonChanged(newJson) {
                if (newJson) {
                    this.set('_jsonAsString', encodeURIComponent(JSON.stringify(newJson)));
                    if (this.noDialog) {
                        if (!this.filename) {
                            this.set('filename', 'myFile');
                        }
                        this.$.downloader.click();
                    } else {
                        this.shadowRoot.querySelector('paper-dialog').open();
                    }
                }
            }
    
            _download() {
                this.$.downloader.click();
            }
        }
    
        window.customElements.define(DownloadJson.is, DownloadJson);
    </script>
</dom-module>